/*#1-- */
<h2 style="text-shadow: 5px 5px 5px #506868;">10 Awesome CSS3 Features to Know</h2>
/*#2-- */
.page {background-image: url(images/bkg1.jpg);}
/*#3-- */
.page {border-radius: 50px;}
/*#4-- */
.page {background-size: 100% 100%;}
/*#5-- */
.page {background-repeat: no-repeat;}


p.text {
    width: 11em; 
    border: 3px solid #000000;
    word-wrap: break-word;
}
text{
    color: #;
}
h1, h2 {
	font-size: 72px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	text-transform: none;
        color: #2F3838;
	font-family: tahoma;
	font-style: normal;
	font-weight: 600;
}
h3, p, div, a {
        color: #2F3838;
        font-family: tahoma;
}
div {
        border: 2px solid;
        border-radius: 25px;
}
body, html {
        margin:0;
        padding:0;
        color:#000;
        background:#a7a09a;
}
body {
	margin: 9px;
	color: #151515;
	font-family: Tahoma;
	background-color: #9DBDBD;
	font-size: medium;
        }
footer{
    text-align: center;
}
.page {
    background-image: url(images/bkg1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    border-radius: 75px;
        }
#ani{
    width: 250px;
    height: 250px;
    background: red;
    -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;}
    
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
    
/* Standard syntax */
@keyframes myfirst {
    from {background: red;}
    to {background: yellow;}
    
#box {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
#box:hover {
    width: 300px;
}

#grad1 {
    height: 200px;
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, blue); /* Standard syntax (must be last) */
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_bold.woff);
   font-weight: bold;
}

div {
   font-family: myFirstFont;
}
a:link {
    color: #636387;
    }
















